<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Cadastro de fornecedores</title>
</head>
<body>
    <fieldset class="formulario" class="campo" >
        <legend>Cadastro de Fornecedores</legend>
        <form action="../controller/salvar_forn.php" method="post">
    
            <label for="nome">Nome Da empresa fornecedora</label><br>
            <input  class="campo" type="text" name="nome" id="" required>
    
            <label for="nome">CNPJ</label><br>
            <input  class="campo" type="text" name="cnpj" id="" required>
    
            <label for="nome">Telefone</label><br>
            <input  class="campo" type="text" name="telefone" id="" required>

            <input type="reset" class="botao" value="limpar" name="limpar">
            <input type="submit" class="botao" value="Enviar" name="enviar">
            <a href="index.html"><input type="button" class="botao" value="Voltar"></a>
        </form>
    </fieldset>
</body>
</html>