<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Vendedores</title>
</head>
<body>
    <fieldset class="formulario">
        <legend>Cadastro de Vandedores</legend>
        <form action="../controller/salvar_vend.php" method="post">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="campo">
            <label for="cpf">CPF</label>
            <input type="text" name="cpf" class="campo">
            <input type="reset" class="botao" value="limpar" name="limpar">
            <input type="submit" class="botao" value="Enviar" name="enviar">
            <a href="index.html"><input type="button" class="botao" value="Voltar"></a>
        </form>
    </fieldset>
</body>
</html>