<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>Index of CRUD</h1>
    <a href="cadastros/cad_clientes.html">Cadastro de clientes</a> <br>
    <a href="cadastros/cad_fornecedor.html">Cadastro de fornecedores</a> <br>
    <a href="cadastros/cad_vendedores.html">Cadastro de vendedores</a> <br>
    <a href="cadastros/cad_produtos.php">Cadastro de produtos</a> <br>
    <a href="lists/lista_clie.php">Lista de clientes</a><br>
    <a href="lists/lista_prod.php">Lista de Produtos</a> <br>
    <a href="lists/lista_fornecedor.php">Lista de fornecedores</a>
</body>
</html>